<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400italic,600" rel="stylesheet" type="text/css">

<style>
	body{
		font-family: Open Sans;
		height: 97vh;
		padding: 0;
		margin: 0;
	}

	@media (max-width: 767px){
		html,body {
			font-size: 12px;
		}
	}
</style>
